body {
  margin: 0;
  padding: 0;
  background-color: #eceef1;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0089d2;
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  font-size: 1.1em;
}

.acc-info {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.text-align-center {
  text-align: center;
}

.user-id {
  text-decoration: none;
  color: #0089d2;
}

.button-signin {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #0177c5;
  color: white;
  padding: 10px 30px;
}

.logo-primary {
  width: 250px;
}

.affiliates-logo {
  width: 25px;
  padding-right: 4px;
  vertical-align: middle;
}

footer a {
  margin: 0 10px;
  color: grey;
}

footer p {
  margin-top: 10px;
}

#affiliates a {
  text-decoration: none;
  font-size: 1.9em;
  color: #6c6d72;
  margin: 0 5px;
}

#affiliates {
  padding-bottom: 1.5rem;
}

#main-form {
  background-color: white;
  width: 700px;
  margin: 0 auto;
  border: 0.5px solid lightgray;
}

.form-heading {
  font-weight: lighter;
  font-size: 2.3em;
  padding-top: 35px;
  color: grey;
}

.form-info {
  font-size: 1.4em;
  color: #6c6d72;
  padding: 20px 0;
}

.learn-more {
  text-decoration: none;
  color: #0089d2;
  display: inline-block;
}

#form-input {
  margin-top: 1rem;
}

#form-input input {
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 2em;
  margin-top: 1rem;
}

.form-group {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.form-group p {
  font-size: 0.8em;
  padding-top: 10px;
}

#submit {
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #0177c5;
  width: 100%;
}

label {
  font-size: 1.5em;
  color: grey;
}

.acc-create {
  padding: 0 25px 30px;
  font-style: italic;
  color: grey;
}

#captcha-notice {
  background-color: #eceef1;
  padding: 2rem 0;
  color: grey;
}

footer {
  margin-top: 20px;
  color: grey;
}

#terms {
  padding-bottom: 25px;
}
